<?xml version="1.0" encoding="UTF-8"?>
<!-- Samsung-Fernseher (Tizen): Beschreibung der App. Wird von tools/tizen-build.mjs mitkopiert. -->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://stoneforge81.github.io/Game" version="1.0.0" viewmodes="maximized">
    <tizen:application id="BLTMOND001.Blutmond" package="BLTMOND001" required_version="3.0"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>Blutmond</name>
    <description>Ein gotisches 2.5D-Actionspiel. Du bist der Vampirfürst.</description>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
    <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="false"/>
</widget>
